

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: "Plain Light";
}

html, body{
    height: 100%;
    width: 100%;
}

.mouseFollower{
    border: 2px solid #fff;
    background-color: rgb(255, 255, 255);
    scale: 2;
    mix-blend-mode: difference;
}

#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #0B0B0B;
    padding: 20vh 10vw;
}

.line{
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.line h1{
    font-size: 6.5vw;
    text-transform: uppercase;
}

#line1-part1{
    display: flex;
    font-size: 4vw;
    gap: 0.2vw;
}

#line1-part1 h5{
    font-family: "silk serif";
    font-weight: 300;
}

#line1-part1 h5:nth-child(1){
    /* background-color: red; */
    width: 5.5vw;
    align-items: right;
}

.line:nth-child(1){
    display: flex;
    align-items: center;
    gap: 2vw;
}

.line h2{
    font-size: 5vw;
    text-transform: uppercase;
    padding-left: 1.5vw;
    opacity: 0;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes nowAnime {
    0%{
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 1;
    }
    47%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 0
    }
    50%{
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 1
    }
    100%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 0;
    }
}

#main{
    position: relative;
    background-color: #151515;
}

#page1{
    height: 100vh;
    width: 100%;
    background-color: #151515;
    position: relative;
}

#page1 #nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3.5vw 5.5vw;
}

#nav #nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.5vw;
}

#nav-part2 h4{
    font-size: 1.2vw;
    font-weight: 300;
}

.content{
    height: fit-content;
    width: 60%;
    margin-left: 28%;
    overflow: hidden;
}

.content:nth-child(2){
    margin-top: 8vh;
}

.content:nth-child(2)::before{
    position: absolute;
    content: "01";
    font-size: 3vw;
    font-family: "silk serif";
    font-weight: 900;
    top: 28%;
    left: 21%;
}

.content h1{
    font-size: 7vw;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 7.5vw;
    letter-spacing: 0.3vw;
}

#thirdHeading{
    /* text-decoration: underline; */
    position: relative;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#thirdHeading h1{
    text-decoration: underline;
}

#thirdHeading #slash{
    text-decoration: none;
    animation: none;
}

#thirdHeading h1:hover{
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 100;
    text-decoration: none;
}

#flag{
    height: 20vw;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translate(-50%, -50%);
}

#page2{
    min-height: 90vh;
    width: 100%;
    background-color: #151515;
    margin-top: 15vh;
    position: relative;
    margin-bottom: 30vh;
}

#video-container{
    height: 65vh;
    width: 71vw;
    position: relative;
    left: 28%;
    top: 10%;
    background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
    background-size: cover;
    background-position: center;
}

#video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0;
}

#video-container #video-crsr{
    height: 10vw;
    width: 10vw;
    background-color: #FFA63D;
    border-radius: 50%;
    position: absolute;
    z-index: 999;
    top: -10%;
    left: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#video-crsr i{
    font-size: 2vw;
}

#page3{
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
    position: relative;
    padding: 10vh 2vw;
    margin-bottom: 30vh;
}

#page3 h1{
    font-size: 7vw;
    text-transform: uppercase;
    margin-left: 26vw;
}

#page3 h1::before{
    content: "02";
    font-size: 3vw;
    font-family: "silk serif";
    position: absolute;
    left: 19%;
    top: 3%;
}

#page3 .underline{
    height: 2px;
    background-color: #ffffff88;
    margin-left: 26vw;
    margin-right: 7vw;
    margin-top: 3vw;
}

#image-div-container{
    /* background-color: red; */
    padding: 1vw;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.image-div{
    position: relative;
    overflow: hidden;
    height: 38vw;
    width: 30vw;
    background-color: #3F7DF4;
    flex-shrink: 0;
    margin-top: 10vh;
}

.image-div:nth-child(1){
    height: 30vw;
    width: 22vw;
}

.image-div:nth-child(7){
    height: 30vw;
    width: 22vw;
}

.image-div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.page3-circle1{
    height: 25vw;
    width: 25vw;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40vh;
    margin-left: 8vw;
    position: relative;
}

.page3-circle2{
    height: 25vw;
    width: 25vw;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.page3-circle3{
    height: 25vw;
    width: 25vw;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 50vh;
}

.page3-circle1 svg{
    height: 30%;
}

.page3-circle2 svg{
    height: 30%;
    rotate: -45deg;
}

.page3-circle3 svg{
    height: 30%;
    rotate: -90deg;
}

.circle-in{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    scale: 0;
    transition: all ease 0.5s;
}

.circle-in p{
    font-size: 1vw;
    color: #000;
    width: 60%;
    text-align: center;
    scale: 0;
    transition: all ease 0.5s;
    transition-delay: 0.6s;
    opacity: 0;
}

.page3-circle1:hover .circle-in{
    scale: 1;
}

.page3-circle1:hover p{
    scale: 1;
    opacity: 1;
}

.page3-circle2:hover .circle-in{
    scale: 1;
}

.page3-circle2:hover p{
    scale: 1;
    opacity: 1;
}

.page3-circle3:hover .circle-in{
    scale: 1;
}

.page3-circle3:hover p{
    scale: 1;
    opacity: 1;
}

.yellow-circle{
    height: 25vw;
    width: 25vw;
    background-color: #FFA63D;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30vh;
    scale: 1;
    transition: all ease 0.5s;
}

.yellow-circle p{
    color: #fff;
}

.yellow-circle:hover{
    scale: 0.8;
}

#page4{
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
    padding: 4vh 0;
}

#page4-content{
    width: 72vw;
    margin-left: 26vw;
    position: relative;
}

#page4-content h1{
    font-size: 7vw;
    text-transform: uppercase;
}

#page4-content h1::before{
    content: "03";
    font-family: "silk serif";
    font-size: 3vw;
    position: absolute;
    left: -10%;
    top: 0.5%;
}

#page4-content .underline{
    height: 2px;
    width: 93%;
    background-color: #ffffff88;
    margin: 4vw 0;
}

#page4-content p{
    font-size: 2.5vw;
    width: 54%;
}

#page4-flex{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 5vw;
}

#page4-flex img{
    width: 60%;
}

#page4-flex p{
    font-size: 1.1vw;
    width: 36%;
}

#page4-blueblock{
    position: relative;
    height: 80vh;
    width: 42vw;
    background-color: #3F7DF4;
    padding: 3.5vw 4vw;
    margin-top: -20vh;
    margin-left: 25vw;
}

#page4-blueblock h3{
    font-size: 1.6vw;
    font-weight: 500;
}

.blue-elem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #ffffffda;
    padding: 2vw 0vw;
}

#page4-blueblock h5{
    font-size: 1vw;
    font-weight: 500;
}

#line-below-blueblock{
    height: 2px;
    width: 93%;
    background-color: #ffffff88;
    margin: 10vw 0 2vw 0;
}

#page4-content h4{
    font-weight: 400;
    font-size: 1.3vw;
}

#page5{
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
    padding: 3vw 0;
    overflow-x: hidden;
}

.page5-elem-odd, .page5-elem-even{
    white-space: nowrap;
    /* background-color: red; */
}

.page5-elem-odd h1{
    font-size: 8vw;
    text-transform: uppercase;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    display: inline-block;
    margin-right: 16px;
    animation-name: page5-elem-reverse-anime;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.page5-elem-even h1{
    font-size: 8vw;
    text-transform: uppercase;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    font-family: "silk serif";
    display: inline-block;
    margin-right: 16px;
    animation-name: page5-elem-forward-anime;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes page5-elem-reverse-anime {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 20px));
    }
}

@keyframes page5-elem-forward-anime {
    from{
        transform: translateX(calc(-100% - 20px));
    }
    to{
        transform: translateX(0);
    }
}

#footer{
    height: 90vh;
    width: 100%;
    padding: 2vw 0;
    position: relative;
}

#footer h1::before{
    content: "04";
    position: absolute;
    font-family: "silk serif";
    font-size: 3vw;
    left: 20%;
    top: 7%;
}

#footer-content{
    height: 100%;
    width: 65vw;
    margin-left: 26vw;
}

#footer-content h1{
    font-size: 7vw;
    text-transform: uppercase;
    height: 25%;
    font-weight: 400;
    transition: all ease 0.5s;
}

#footer-content h1 i{
    font-size: 8vw;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    transition: all ease 0.5s;
}

.footer-underline{
    height: 2px;
    width: 100%;
    background-color: #ffffff88;
    margin-top: 2vw;
    margin-bottom: 1vw;
}

.box{
    width: 30%;
}

.box h6{
    margin-bottom: 2vw;
    font-size: 1.5vw;
    font-weight: 400;
}

.box h5{
    font-size: 2vw;
    font-weight: 500;
}

#footer-information{
    display: flex;
    align-items: flex-start;
    gap: 10vw;
}

#footer-content h4{
    font-size: 1.5vw;
    font-weight: 500;
}

._canvas_container{
    z-index: 999999 !important;
    pointer-events: none;
}